* {
    margin: 0;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    user-select: none;
    overflow:-moz-hidden-unscrollable;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*text-align: center;*/
    background-color: black;
}

#intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/intro.jpg');
    justify-content: center;
    align-items: center;
}

#fourteen {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/BigBang.jpg');
}

#foursix {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./fotos/formearth3.jpg');
}

#fourfour {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/waterearth.jpg');
}

#firstlife {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/1\ life\ 3.jpg');
}

#firstphoto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/photosy\ 1.jpg');
}

#firstland {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/land.jpg');
}

#firstnucli {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/1\ w\ nucleus\ 2.jpg');
}

#firstmulti {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/1\ multi\ cel\ 1.jpg');
}

#firstcompli {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/complexanimal.jpeg');
}

#camex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/cam\ exp\ 1.jpg');
}

#landplant {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/1\ land\ plant\ 2.jpg');
}

#landani {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/1\ land\ ani\ 1.jpg');
}

#massext1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/mass\ ext\ 3.jpg');
}

#dinoage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/age\ of\ dino\ 1.jpg');
}

#massext2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/mass\ ext\ dino\ 1.jpg');
}

#firsthuman {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/1\ human\ 1.jpg');
}

#now {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.308)), url('./fotos/now.jpg');
}

.introheader h2 {
    font-size: 60px;
    margin-top: -100px
}

.introsubtext p {
    font-size: 30px;
}

.timeline {
    position: relative;
    margin: 0 0;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 8px;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    bottom: 0;
    left: 50%;
    left: 0;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.993), rgba(0, 0, 0, 0));
    color: white;
    text-align: center;
    height: 10vh;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.993));
    color: white;
    text-align: center;
    height: 20vh
}

.year {
    margin-top: 3rem;
    text-align: center;
    font-size: 80px;
}

.subtext {
    text-align: center;
    font-size: 60px;
    margin-top: -20px;
}

.test {
    width: 90%;
    float: right;
    margin-left: 5rem;
}

.test p {
    float:left;
    width: 400px;
    margin-right: 5rem;
    margin: 5rem auto;
}

.test .scnimg img {
    margin-top: 14rem;
    border-radius: 4px;
    width: 35%;
    height: auto;
    float: right;
    margin-right: 4rem;
}

.triangle {
    /*background-color: white;
    width: 50px;
    height: 50px;
    z-index: 5;
    position: absolute;
    margin-top: 4.8rem;*/
    width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-left: 30px solid #fff;
	border-bottom: 30px solid transparent;
    margin-top: 4.7rem;
    position: absolute;
    margin-left: 8px;
}

#fourteen .test p {
    margin-top: 14rem;
}

#foursix .test p,
#firstmulti .test p,
#landani .test p,
#now .test p {
    float: right;
    margin-right: 10rem;
    text-align: justify;
}

#firstmulti .test p {
    margin-top: 14rem;
}


#now .test p {
    margin-top: 3rem;
}

#landani .test p {
    margin-top: 14rem;
}

.test p {
    text-align: justify;
}